body { font-family: sans-serif; padding: 1em; }
.ais-SearchBox { margin: 1em 0; }
.ais-Pagination { margin-top: 1em; }
.left-panel { float: left; margin-top: 1em; width: 242px; }
.right-panel { margin-top: 1em; margin-left: 260px; }
.ais-InstantSearch { max-width: 960px; margin: 0 auto; }
.ais-Hits-list { display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 1em; }
.ais-Hits-item img { margin-right: 1em; }
.hit-name { margin-bottom: 0.5em; }
.hit-description { color: #888; font-size: 14px; margin-bottom: 0.5em; }
#hits {
  margin: 4px 0;
  padding: 10px 0;
  border-top: 2px solid #eee
}
.ais-SearchBox-form {
  position: relative
}

.ais-SearchBox-input {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 20px
}

.ais-SearchBox-reset {
  position: absolute;
  top: .5em;
  right: .25em
}

.ais-SearchBox-submit {
  position: absolute;
  top: .5em;
  left: .25em
}

#search-input .ais-SearchBox-submit,#search-input .ais-SearchBox-reset {
  top: 16px
}

.ais-SearchBox-submit svg,.ais-SearchBox-reset svg {
  width: 1.25em;
  height: 1.25em;
  fill: #8e8e8e
}

#search-input {
  margin-left: 26%
}

#search-input input {
  font-size: 28px;
  padding-left: 100px;
  font-weight: 100;
  padding: 10px 10px 5px 35px;
  border: none;
  border-bottom: 5px solid #eee;
  appearance: none;
  -webkit-appearance: none
}

#search-input input,#search-input input:focus {
  transition: border-color .3s ease-in;
  outline: 0
}

#search-input input:focus {
  border-color: #ed5565
}

#search-input input::-webkit-input-placeholder,#search-input input:-moz-placeholder,#search-input input:-moz-placeholder,#search-input input:-ms-input-placeholder {
  font-weight: 100;
  color: #999
}